:root{
    --mainColor : #E50914;
    --bgColor : #0D0C11;

    /* Fonts Weight */
    --fw2 : 200;
    --fw3 : 300;
    --fw4 : 400;
    --fw5 : 500;
    --fw6 : 600;
    --fw7 : 700;
    --fw8 : 800;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'DM Sans', sans-serif;
    background-color: var(--bgColor);
    position: relative;
}

/* Unchangeable */
a{
    color: white;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.flexRow{
    display: flex;
}

.flexColumn{
    display: flex;
    flex-direction: column;
}

/* Header */

header{
    height: 9vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid white;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}

header .container{
    justify-content: space-between;
}

header .logo {
    width: 40%;
    align-items: center;
}

header .logo img{
    width: clamp(28px, 2.5vw, 60px);
}

header .logo span{
    color: white;
    font-weight: var(--fw6);
    font-size: clamp(0.9rem, 1.3vw, 2rem);
}

header .links{
    gap: clamp(10px,4vw, 100px);
    align-items: center;
    justify-content: center;
}

header .links li a {
    color: white;
    font-size: clamp(0.8rem, 1vw, 2rem);
}

.search-Language{
    gap: 1.5vw;
    align-items: center;
}

.search-Language a i{
    color: rgb(255, 255, 255);
    font-size: clamp(0.7rem, 1vw, 1.8rem);
}

header .language{
    gap: 0.3vw;
    align-items: center;
}

header .language i{
    font-size: clamp(0.7rem, 1vw, 1.8rem);
}

header  .language span{
    color: white;
    font-size: clamp(0.8rem, 1vw, 2rem);
}
/* Language */
.languageMenu {
    width: clamp(100px ,11vw, 250px);
    background-color: white;
    position: absolute;
    top: 75%;
    border-radius: 5px;
    display: none;
}

.languageMenu.active{
    display: block !important;
}

.languageMenu > div{
    gap: 0.5vw;
    align-items: center;
    cursor: pointer;
    padding: 1vh 1vw;
}

.languageMenu > div:hover{
    background-color: rgb(244, 241, 241);
    border-radius:5px;
}

.languageMenu > div > span{
    font-weight: var(--fw5);
    font-size: clamp(0.7rem, 1vw, 1.8rem);
}


.languageMenu > div > img{
    width: clamp(15px, 1.5vw, 30px);
    height: clamp(15px, 1.5vw, 30px);
    border-radius: 100%;
}

/* Section 1 */
.sc1{
    background-color: #0D0C11;
    height: clamp(450px, 50vw, 700px);
    width: 100%;
    overflow: hidden;
    position: relative;
}
.sc1 .movie {
    width: 100%;
    height: 100%;
    background: url('../images/Screenshot 2023-11-28 170923.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.sc1 img{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.sc1  .overlay{
    background-color: rgba(0, 0, 0, 0.671);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.sc1  .container  .descriptionContainer {
    position: absolute;
    z-index: 3;
    height: 50vh;
    top: clamp(150px,20vw, 250px);
    left: 5%;
    gap: 2vh;
}

.sc1 .container h1{
    color: white;
    font-size: clamp(1.5rem, 3vw, 4.5rem);
}

.sc1 .container p{
    color: white;
    font-size: clamp(0.5rem, 1vw, 1.5rem);
    width: 50%;
    overflow: hidden;
}

.sc1 .info1{
    color: white;
    font-size: clamp(0.7rem, 1vw, 2rem);
}

.sc1 .info1 span{
    color: white;
}

.sc1 .info1 .age{
    color: var(--mainColor) !important;
}

.sc1 .info2{
    gap: 1vw;
    align-items: center;
}

.sc1 .info2 .star{
    align-items: center;
}

.sc1 .info2 i{
    color: #FCC209;
    font-size: clamp(0.8rem, 1.4vw, 2rem);
}
.sc1 .info2 .starNumber{
    color: white;
    font-size: clamp(0.9rem, 1.5vw, 2.5rem);
    font-weight: var(--fw6);
}

.sc1 .info2 .Genre{
    color: white;
    font-size:  clamp(0.8rem, 1.3vw, 2.3rem);
}

.sc1 .info2 .genreValue{
    color: var(--mainColor);
    font-size: clamp(0.8rem, 1.3vw, 2.3rem);
}

.sc1 .container button{
    width: clamp(100px ,12vw, 300px);
    height: clamp(20px, 2.5vw, 60px);
    cursor: pointer;
    background-color: var(--mainColor);
    outline: none;
    border: none;
    color: white;
    font-size: clamp(0.5rem, 0.8vw, 1rem);
    font-weight: var(--fw3);
    display: flex;
    gap: 1vw;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

/* Section 2 Slider */

.sc2  .titleContainer{
    margin-top: 4vh;
}
.sc2 .titleContainer .title{
    justify-content: space-between;
    align-items: center;
    color: white;
}

.sc2 .titleContainer .title > h2{
    font-size: clamp(0.8rem ,2vw, 3rem);
}

.sc2 .titleContainer .title > div{
    font-weight: var(--fw3);
    cursor: pointer;
    font-size: clamp(0.5rem, 1vw, 1.5rem);
}

.sc2 .titleContainer .title i{
    font-size: clamp(0.4rem, 1vw, 1.2rem);
}

.sc2 .swiperContainer{
    margin-bottom: 2vh;
    padding: 1vw 4vw 2vw 4vw;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    position: relative;
}

/* SC2 Swiper */
.sc2 .sw{
    flex-basis: clamp(150px,20vw, 500px) !important;
    padding: 1.5vw;
    border-radius: 15px;
    transition: .3s ease-in-out;
}

.sc2 .sw .imgContainer{
    width: 100%;
    position: relative;
}

.sc2 .sw .imgContainer img{
    width: 100%;
}

.sc2 .sw .imgContainer > .favorate{
    position: absolute;
    width: clamp(20px,2vw, 50px);
    height: clamp(20px,2vw, 50px);
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.507);
    top: 1.8vh;
    right: 1vw;
    align-items: center;
    justify-content: center;
}

.sc2 .sw .imgContainer > .favorate i{
    color: var(--mainColor);
    font-size: clamp(0.8rem, 1vw, 2rem);
    cursor: pointer;
}

.sc2 .sw .descreptionContainer {
    color: white;
}

.sc2 .sw .descreptionContainer .year{
    font-size: clamp(0.5rem, 1vw, 1.5rem);
    padding: 1.2vh 0 1.2vh 0;
}

.sc2 .sw .descreptionContainer h3{
    padding: 0 0 0.5vh 0;
    font-size: clamp(0.7rem, 1.2vw, 2rem);
    color: white;
}

.sc2 .sw .descreptionContainer a{
    color: transparent;
    transition: .3s ease-in-out;
    padding-top: 1vh;
    display: block;
}

.sc2 .sw:hover .descreptionContainer a{
    color: white;
    font-size: clamp(0.5rem, 1vw, 1.5rem) !important;
}

.swiperContainer .next {
    color: white;
}
.swiperContainer .prev {
    color: white;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 2rem !important;
}

/* Section 3 */

.sc3{
    margin-bottom: 8vh;
}
.sc3  .titleContainer{
    margin-top: 4vh;
}
.sc3 .titleContainer .title{
    justify-content: space-between;
    align-items: center;
    color: white;
}
.sc3 .titleContainer .title > h2{
    font-size: clamp(0.8rem ,2vw, 3rem);
}

.sc3 .titleContainer .title > div{
    font-weight: var(--fw3);
    cursor: pointer;
    font-size: clamp(0.5rem, 1vw, 1.5rem);
}

.sc3 .titleContainer .title i{
    font-size: 0.8rem;
    font-size: clamp(0.4rem, 1vw, 1.2rem);
}

.sc3 .swiperContainer{
    margin-bottom: 2vh;
    padding: 1vw 4vw 2vw 4vw;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.sc3 .swiperContainer .sw{
    flex-basis: clamp(250px, 30vw, 600px);
    padding: 0 0.5vw;
}

.sc3 .swiperContainer .sw .imageContainer{
    flex-basis: 100%;
    position: relative;
}

.sc3 .swiperContainer .sw .imageContainer img{
    width: 100%;
}
.sc3 .swiperContainer .sw .imageContainer .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(13, 12, 17, 0.568);
    top: 0;
}

.sc3 .swiperContainer .sw .imageContainer .iconPlay{
    position: absolute;
    top: 40%;
    left: 45%;
    width: clamp(25px, 3vw, 55px);
    height: clamp(25px, 3vw, 55px);
    border-radius: 100px;
    border: 3px solid white;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.sc3 .swiperContainer .sw .imageContainer .iconPlay > i{
    font-size: clamp(8px, 1vw, 20px);
}

.sc3 .swiperContainer .sw .sc3swTitle{
    color: white;
    font-size: clamp(0.6rem ,1vw, 2rem);
    font-weight: var(--fw6);
}

/* Footer */
footer{
    border-top: 0.2px solid rgba(255, 255, 255, 0.196);
    padding: 8vh 0 0 0;
}

footer .topSide .leftSide{
    width: 50%;
}

footer .topSide .leftSide .logoContainer img{
    width: clamp(25px,3vw, 50px);
}

footer .topSide .leftSide .logoContainer span{
    color: white;
    font-weight: var(--fw6);
    font-size: clamp(0.9rem, 1.5vw, 2rem);
}

footer .topSide .leftSide p{
    color: white;
    font-size: clamp(0.5rem, 1vw, 1.5rem);
    font-weight: var(--fw3);
    padding: 1vh 0 0 1vh;
    width: 35vw;
}

footer .topSide .rightSide{
   gap: 6vw;
}

footer .topSide .rightSide h3{
    color: white;
    font-size: 1rem;
    font-weight: var(--fw5);
}

footer .topSide .rightSide ul li{
    color: white;
    align-items: center;
    gap: 0.5vw;
}

footer .topSide .rightSide ul{
    padding: 1vh 0 0 0;
    gap: 1vh;
}

footer .topSide .rightSide ul a{
    color: white;
    font-size: 0.8rem;
    font-weight: var(--fw3);
}

footer .topSide .rightSide ul li .circle{
    width: 5px;
    height: 5px;
    border-radius: 100px;
    background-color: white;
}

footer .copyWright{
    justify-content: center;
    align-items: center;
    padding: clamp(20px,10vw,300px) 0 4vh 0;
}

footer .copyWright span{
    color: white;
    font-size: clamp(0.5rem, 1vw, 1.2rem);
    font-family: var(--fw4);
}


/* Trailer */
body .trailerContainer .overlaytr{
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.741);
    cursor: pointer;
}

body .trailerContainer  iframe{
    width: 60%;
    height: 70%;
    display: block;
    margin: 7% auto;
    border: 4px solid white;
    border-radius: 15px;
}

/* Responsive */

@media(max-width : 1100px){
    body .trailerContainer  iframe{
        width: 60%;
        height: 50%;
        display: block;
        margin: 20% auto;
        border: 4px solid white;
        border-radius: 15px;
    }
}

/* Desktop and Tablets */
@media(min-width: 769px){
    .sc2 .sw:hover {
        background: linear-gradient(175deg, rgba(229,9,20,1) 0%, rgba(0,0,0,1) 100%);
    }

    /* Language Menu */
    .languageMenu {
        right: 4%;
    }

    /* Menu */
    .menuContainer{
        display: none;
    }

}

/* Mobile & Small Tablets */
@media (max-width:768px){
    .links{
        display: none;
    }

    /* Language Menu */
    .languageMenu {
        right: 10%;
    }

    .search-Language > a{
        display: none;
    }

    .next{
        display: none !important;
    }

    .prev{
        display: none !important;
    }

    .sc2 .sw .descreptionContainer a{
        color: white;
        transition: .3s ease-in-out;
        font-size: clamp(0.5rem, 1vw, 1.5rem)
    }

    .topSide{
        align-items: center !important;
        justify-content: center !important;
        flex-direction: column !important;
    }
    .leftSide{
        width: 100% !important;
        justify-content: center !important;
        text-align: center !important;
    }  

    footer .topSide .leftSide p{
        width: 100%;
        align-items: center;
    }

    footer .leftSide .logoContainer{
        width: 100%;
        align-items: center !important;
        justify-content: center !important;
    }

    .rightSide{
        display: none;
    }

    /* Menu & Search & Language (Container) */
    .mnsl{
        gap: clamp(10px, 2vw, 20px);
        align-items: center;
    }

    /* Mobile Menu */
     /* icon */
     header .menuIcon{
        display:block;
        cursor: pointer;
    }
    header .menuIcon > div{
        width: clamp(20px, 3vw, 30px);
        height: 1.5px;
        background-color: white;
        border-radius: 50px;
        transition: transform .3s ease-in-out;
    }
    header .menuIcon > div:not(:last-child){
        margin-bottom: 0.5vh;
    }

    /* Display Menu */
    .displayMenu{
        position: relative;
        transform: rotate(0deg);
    }
    .displayMenu :nth-child(2){
        display: none;
    }
    .displayMenu > :nth-child(1){
        transform: rotate(45deg);
    }
    .displayMenu > :nth-child(3){
        transform: rotate(-45deg);
        position: absolute;
        top:0;
    }

    header .container{
        z-index: 1;
    }

    header .menuContainer{
        width: 100%;
        height: 50vh;
        background-color: var(--bgColor);
        position: absolute;
        top: -200vw;
        transition:.8s ease-in-out;
        justify-content: end;
        padding-bottom: 8vh;
        border-bottom: 1px solid white;
    }

    header .menuContainer.display{
        top: 0;
    }

    header .menuContainer li{
        display: flex;
        flex-direction: column;
        width: 70%;
        align-items: center;
        border-bottom: 1px solid white;
        padding: 2vh 0;
        margin: 0 auto;
    }

    header .menuContainer li a{
        height: 100%;
        color: white;
        font-size: clamp(0.7rem, 1vw, 1rem);
    }

    /* Trailers */
    body .trailerContainer  iframe{
        display: block;
        width: 90% !important;
        height: clamp(50px, 50%, 500px) !important;
        margin: 30% auto;
        border: 4px solid white;
        border-radius: 15px;
    }
}

@media (max-width : 530px){
    /* Trailers */
    body .trailerContainer  iframe{
        display: block;
        width: 90% !important;
        height: clamp(50px, 50%, 250px) !important;
        margin: 30% auto;
        border: 4px solid white;
        border-radius: 15px;
    }
}
